/* style.css */
/* リセット */
    /*　Josh's Custom CSS Reset　　https://www.joshwcomeau.com/css/custom-css-reset/　*/
*,*::before,*::after{box-sizing:border-box}*{margin:0}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}#root,#__next{isolation:isolate}
/* 全体 */
body{
    background-color: #FFC531;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
}

#app{
    margin: 5px;

}
/* ヘッダー */
.hedder{
    
}
.imgbox{
    display: flex;
    justify-content: left; /* 水平方向にセンターに配置 */
    align-items: center;
    margin:0 auto 5%;
}
.imgbox img{
    border: 1px solid #FFFFFF;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius:50%;    
}

.imgbox p{
    margin-left: 10px;
    font-size: 25px;
}
/* ヒーロー */
.hero{
    display: flex;
    justify-content: center; /* 水平方向にセンターに配置 */
    align-items: center;
}
.hero h1{
    font-weight: bold;
    font-size: 47px;
    line-height: 47px;
}
.hero_right{
    width: 135px;
}

/* 統計エリア */

.statistics{
    display: flex;
    justify-content: space-around; /* 水平方向にセンターに配置 */
    align-items: center;
    margin: 24px 0 24px 0;
}
.box{
    position: relative;
    box-sizing: border-box;
    width: 110px;
    height: 105px;
    background: #FFC531;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    /* margin: 10px; */
}
.box_text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
    text-align: center;
}

.box_text_number{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    
}


/* 検索 */
.search_box{
    
}
.search-form-6 {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #ffdc81;
    border-radius: 24px;
    max-width: 656px;
    margin: 0 auto;
}

.search-form-6:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.search-form-6::before {
    width: 45px;
    height: 15px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23adadad%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

.search-form-6 input {
    background-color: #ffdc81;
    width: 250px;
    height: 40px;
    padding: 5px 25px 5px 0;
    border: none;
    box-sizing: border-box;
    outline: none;
}

/* タグ */
.tag-buttons{
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    /* float: left; */
    margin: 24px 0 24px 0;
    
    
}
.tag-buttons_list{
    max-width:100%;
    padding: 0px;
}
/* ul{
    padding-inline-start: 0px;
} */
.tag-buttons_list li{
    list-style:none;
    display: inline;
    
    
    /* overflow: scroll; */
}
.tag-buttons button{
    
    height: 40px;
    padding: 5px 20px;
    border-radius: 50px;
    background-color: #ffdc81;
}
/* タグボタンのスタイル */
.tag-buttons {
    display: flex;
    justify-content: center;
}
.tag-buttons button {
    margin: 5px;
}
.tag-buttons button.active {
    background-color: #007BFF; /* 青色の背景色 */
    color: white; /* 白色の文字色 */
}



/* カードのCSS */
.cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    
}
.card {
    width: 180px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    
    
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-top: 0;
    text-align: center;
}

.card-content p {
    color: #666666;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
/* フッター */
.footer{
    height: 200px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    
}





